<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>
        ViewData'dan okunan liste
    </h3>
    <table cellpadding="3" cellspacing="3" border="3" width="300">
        <tr>
            <td>Kategori Id</td>
            <td>Kategori Adı</td>
            <td>Açıklaması</td>
        </tr>
        @foreach (var item in ViewData["kategoriListesi"] as List<DataTransferToView.Models.Kategori>)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Adi</td>
                <td>@item.Aciklama</td>
            </tr>
        }
    </table>
    <hr />
    <hr />


    <h3>
        ViewBag'dan okunan liste
    </h3>
    <table cellpadding="3" cellspacing="3" border="3" width="300">
        <tr>
            <td>Kategori Id</td>
            <td>Kategori Adı</td>
            <td>Açıklaması</td>
        </tr>
        @foreach (var item in ViewBag.KategoriListem)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Adi</td>
                <td>@item.Aciklama</td>
            </tr>
        }
    </table>
</body>
</html>